.admin-dashboard {
    display: block;
    align-items: center;
}

.admin-menu {
    width: 250px;
    background-color: #2c3e50;
    color: #0c4b5b;
}

.admin-menu h2 {
    padding: 20px;
    margin: 0;
    text-align: center;
    color: #ecf0f1;
    background-color: #34495e;
}

.admin-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.admin-menu li {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #34495e;
}

.admin-menu li:hover {
    background-color: #34495e;
}

.admin-menu li a {
    color: #34495e;
    text-decoration: none;
}

.admin-menu li a:hover {
    color: #260c55;
}

.admin-content {
    flex: 1;
    padding: 20px;
}

.admin-product-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.admin-product-table th,
.admin-product-table td {
    border: 1px solid #34495e;
    padding: 10px;
    text-align: left;
}

.admin-product-table th {
    background-color: #34495e;
}

.admin-product-table td button {
    margin-right: 5px;
}

.admin-product-table td button:last-child {
    margin-right: 0;
}

.admin-product-delete-button:hover {
    background-color: #d32f2f;
}

.admin-header {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.add-product-button-container {
    float: right;

}

.add-product-button-container button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #3498db; /* Change this to your desired button background color */
    color: white; /* Change this to your desired button text color */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-repeat: no-repeat;
    background-size: 20px 20px; /* Adjust the size of the logo as needed */
    background-position: 5px center; /* Adjust the position of the logo */
    padding-bottom: 0,5cm;
    
}
   
    



.admin-buttons {
    display: flex;
    justify-content: space-between
}
